.suggestions-wrapper{
    width: calc(100% - 282px);
}

@media screen and (max-width: 1400px) {
    .suggestions-wrapper {
        width: 100%;
    }
}

.percent{
    background:linear-gradient(252.18deg, #D72339 0.28%, #F23B51 93.8%);;
}