.rec .rec-pagination{
    display: none !important;
}

.rec .rec-arrow-right , .rec .rec-arrow-left{
    background: transparent !important;
    border:none !important;
    box-shadow: none !important;
}

.rec-carousel-wrapper{
    direction: rtl !important;
}

/* rec rec-carousel */