@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSans";
  src: url("./assets/fonts/FontsFree-Net-ir_sans.ttf") format("truetype");
  /* font-weight: bold; */
}
*{
  user-select: none;
}

body {
  overflow-x: hidden;
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: "IranSans";
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
