.section {
    width: 100%;
    height: 100%;
    /* width: calc(100% - 282px); */
    position: relative;
}

.section-center {
    width: 100%;
    /* height: 620px; */
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.slideImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.next,
.prev {
    position: absolute;
    top: 50%;
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}

.prev {
    left: 60px;
}

.next {
    right: 60px;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s linear;
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.lastSlide {
    transform: translateX(-100%);
}

article.nextSlide {
    transform: translateX(100%);
}

@media screen and (max-width: 700px) {
    .section-center {
        height: 300px;
    }

    /* .section{
    padding-bottom: 100px;
  } */
}